html{
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    background:  #e32a00;
    color: white;
    box-shadow: 0px 10px 10px 0 rgba(0, 0, 0, 0.3); 
    height: 70px;
    width: 100%;
    z-index: 1000;
    left: 0;
    top: 0;
    position: fixed;
    align-items: center;
}

.container{
    text-align: justify;
    padding-left: 25px;
    padding-right: 25px;
    float: left;
}

.img{
    margin-top: 90px;
    width: 185px;
    height: 250px;
    border-radius: 10px;
}

p{
    width: 185px;
    text-align: justify;
}



